@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

*{
    font-family: 'Poppins', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: azure;
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/* TEXTO HOLA */
.greetings{
    font-size: 7rem;
    font-weight: 900;
}

.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}

.greetings > span:nth-child(2){ animation-delay: .2s; }
.greetings > span:nth-child(3){ animation-delay: .4s; }
.greetings > span:nth-child(4){ animation-delay: .6s; }
.greetings > span:nth-child(5){ animation-delay: .8s; }
.greetings > span:nth-child(6){ animation-delay: 1s; }

/* TEXTO DESCRIPCION */
.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/* CONTENEDOR DE BOTONES */
.button{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* BOTON PRINCIPAL */
.boton{
    text-decoration: none;
    background-color: #0a2be9;
    color: #fff;
    padding: 12px 22px;
    border-radius: 80px;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(57, 198, 214, 0.3);
}

/* HOVER */
.boton:hover{
    transform: scale(1.08);
    background-color: rgb(50, 194, 194);
    color: #000;
    box-shadow: 0 0 20px rgba(57, 198, 214, 0.7);
}

/* BOTON CARTITA */
.boton.izquierda{
    background-color: #ff2ea6;
    color: #fff;
}

/* HOVER CARTITA */
.boton.izquierda:hover{
    background-color: #ff66c4;
    color: #000;
}

/* RESPONSIVE */
@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
    }

    .description{
        font-size: 1.2rem;
    }

    .button{
        flex-direction: column;
        gap: 12px;
    }

    .boton{
        font-size: 1rem;
        padding: 12px 25px;
    }
}
